.sidebar {
    width: 317px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
    display: none;
}

.sidebar.open {
    display: block;
}

.background {
    position: absolute;
    top: 0;
    left: 317px;
    right: 0;
    bottom: 0;
    background-color: blue;
    opacity: 0.4;
    z-index: 1;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.nav a {
    font-size: 22px;
    text-decoration: none;
    margin-top: 35px;
    color: black;
    font-weight: bold;
}

.nav a:hover {
    color: aqua;
}

.nav a:active {
    color: #8097AD;
}

.nav a.active {
    color: blue;
    text-decoration: underline;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close img {
}
