.input:focus {
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
}

.inputWrapper {
    position: relative;
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
    outline: 1px solid red;
}

.error {
    color: red;
    display: block;
    position: absolute;
    top: -25px;
    left: 0;
}
