.button {
    font-weight: bold;
    background-color: #0066CC;
    color: white;
    padding: 5px 24px;
    border: none;
}

.disabled {
    background-color: #80A5CC;
    color: #8097AD;
}

.secondary {
    color: blue;
    background-color: #E5F0FA;
    border: 1px solid blue;
}

.default {

}

.red {
    background-color: #CC1439;
    color: white;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
